html {
    font-size: 100px;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #33373d;
}
blockquote,
body,
dd,
dl,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
}
a {
    text-decoration: none;
}
ul,
dl,
ol {
    list-style: none;
    padding:0;
}
img {
    vertical-align: middle;
}
input{
    border: none;
    outline: none;
}